* {
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 10px 5%;
    text-align: center;
    background: #FF0000;
}
header h2 {
    color: #FFFF00;
}
main {
    padding: 0 5%;
    text-align: center;
}
.ultrasecreto {
    max-width: 100%;
    width: 700px;
    margin: 30px 0;
}
.wrapper-headline {
    display: flex;
    justify-content: center;
}
.headline {
    max-width: 1200px;
}
.uppercase {
    text-transform: uppercase;
}
.headline h1 {
    font-size: 42px;
    font-weight: 900;
}
.c-td {
    color: #FF0000;
    text-decoration: underline;
}
.headline h3 {
    margin: 30px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
}
.wrapper-vsl {
    display: flex;
    justify-content: center;
}
.vsl {
    width: 1200px;
    height: 675px;
}
.wrapper-sobre {
    display: flex;
    justify-content: center;
}
.sobre {
    max-width: 400px;
}
.dr {
    max-width: 100%;
    width: 200px;
    border-radius: 50%;
    margin: 30px 0 10px 0;
}
.midia {
    max-width: 100%;
    width: 450px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 30px 5%;
    background: #001022;
    text-align: center;
}
footer div {
    max-width: 600px;
}
footer p {
    color: #FFFFFF;
}
footer a {
    color: #FFFFFF;
}
@media (max-width: 1600px) {
    .vsl {
      width: 1000px;
      height: 562.5px;
    }
}
@media (max-width: 1300px) {
    .vsl {
      width: 800px;
      height: 450px;
    }
}
@media (max-width: 950px) {
    header h2 {
        color: #FFFF00;
        font-size: 21px;
    }
    .ultrasecreto {
        width: 500px;
    }
    .headline h1 {
        font-size: 32px;
    }
    .headline h3 {
        font-size: 16px;
    }
    .vsl {
      width: 600px;
      height: 337.5px;
    }
    .sobre {
        max-width: 300px;
    }
    .dr {
        width: 150px;
    }
    .midia {
        width: 400px;
    }
    footer div {
        max-width: 450px;
    }
}
@media (max-width: 750px) {
    .vsl {
      width: 400px;
      height: 225px;
    }
}
@media (max-width: 500px) {
    header h2 {
        color: #FFFF00;
        font-size: 16px;
    }
    .ultrasecreto {
        width: 200px;
        margin: 15px 0;
    }
    .headline h1 {
        font-size: 21px;
    }
    .headline h3 {
        font-size: 8px;
    }
    .vsl {
      width: 300px;
      height: 168.75px;
    }
    p {
        font-size: 12px;
    }
    .sobre {
        max-width: 250px;
    }
    .dr {
        width: 100px;
    }
    .midia {
        width: 250px;
    }
    footer div {
        max-width: 300px;
    }
}
@media (max-width: 370px) {
    .vsl {
      width: 250px;
      height: 140.675px;
    }
}